{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book catalogue</h1>
    <ul>
        {% for Book in Books %}
        <li>
            <h2>{{Book.title}}</h2>
            <img src="{{ book.image1.url }}" alt="">
            <img src="{{ book.image2.url }}" alt="">
            <img src="{{ book.image3.url }}" alt="">
            <p>{{ book.author }}</p>
            <p>{{ book.description }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>